.THIS.exampleHolder{
    position: relative;
    display: inline-block;
}
.THIS.cardBrand{
    background-color:#eb524a !important
}
.THIS .slds-modal__container{
       max-width: 45rem !important;
       width:45% !important;
}
.THIS .peak {
    color:red !important;
}
.THIS .warningchangeOwner{
    margin-top:6px;
}
.THIS .addFixedHeight{
    height: 298px;
}