.THIS .container{
    background: #f7f9fb !important;
    padding:1%;
    margin:2%;
    box-shadow: 1px 1px 1px grey;
}
.THIS tr.noBorder td {
    border-top: 0;
}

.THIS table:hover {
    background-color:white !important;
}