<apex:page standardcontroller="Account" sidebar="false" showheader="false">
    
    <apex:form >
        <apex:commandButton value="Relo MMB Site Lookup" id="LookupBtn" onclick="redirectReloSite('{!Account.Id}')" disabled="{!!Account.MMBLookup__c}"/>
    </apex:form>    
    
    <script>
        var MMBCustomerSiteLookupPage = '/apex/MMBCustomerSiteLookup';
         
        function redirectReloSite(id){
            redirectParent(MMBCustomerSiteLookupPage+'?objId='+id+'&lookupType=relosite');
        }
        
        /**
         *  Used for redirecting parent
         */
        function redirectParent(url){
            window.top.location.href = url; 
        }
    
    </script>
    
</apex:page>