<apex:page controller="AdminScheduleController" >
    <!-- JavaScript Libraries -->
    <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"/>
    <apex:includeScript value="{!URLFOR($Resource.TypeHead)}"/>
    <apex:includeScript value="{!URLFOR($Resource.jQuerySpin, 'jQuery.Spin.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.bootstrap3, 'js/bootstrap.min.js')}"/>
    <apex:includeScript value="//code.jquery.com/jquery-migrate-1.2.1.min.js"/>

    <!-- Service Console Toolkit -->
    <apex:includeScript value="/soap/ajax/27.0/connection.js"/>
    <apex:includeScript value="/support/console/30.0/integration.js"/>

    <!-- CSS -->
    <link rel="stylesheet" href="{!URLFOR($Resource.bootstrap3, 'css/bootstrap.min.css')}" media="all" />
    <style>
        .twitter-typeahead input:focus {
            border: 2px solid #0097cf;
        }

        input.typeahead{
          display:inline-block;
          width:90%;
          font-size: inherit;
          height: 1.3em;
          padding: 8px 12px;
          line-height: 1.3em;
          border: 2px solid #ccc;
          -webkit-border-radius: 8px;
             -moz-border-radius: 8px;
                  border-radius: 8px;
          outline: none;

        }
        
       
        
        
        input:focus {
          border: 2px solid #0097cf;
        }
        
        #default-suggestions .tt-menu {
          max-height: 1000px;
          width:300%;
          overflow-y: auto;
        }
        
        
        
        .tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        }
        

        
        .tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
            
            margin-top: 12px;
            padding: 8px 0;
            background-color: #fff;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
            width:300%;
        }
        
        .tt-suggestion {
            padding: 3px 20px;
            font-size: 18px;
            line-height: 24px;
            display: block;
            cursor: pointer;

            
        }
        .tt-suggestion:hover{
            color:white;
            background-color: #0097cf;
        
        }
        
        .tt-cursor {
            color:white;
            background-color: #0097cf;
        }
        

    </style>
    
    <script>
        var $j = jQuery.noConflict(); 
        var allTerrUsers;
    </script>

    <apex:form id="frm">
        <apex:pageMessages id="msgs"></apex:pageMessages>
        <apex:outputPanel id="panel"></apex:outputPanel>
        <apex:pageBlock >
            <apex:sectionHeader title="Search Users"/>
            <apex:pageBlockSection columns="1" collapsible="false">


            </apex:pageBlockSection>
            <br/>
            <table>
                <tr>
                    <td>
                        <input style="float:left" id="userSearch" class="typeahead" type="text" placeholder="Search Users..." />
                    </td>
                    <td>
                        <apex:commandButton reRender="panel" style="margin-top:10%;margin-left:20%;" value="Schedule" onclick="Search()"/>
                    </td>
                </tr>
            </table>
            
            
            <apex:sectionHeader title="Search Territories"/>
            <apex:pageBlockSection columns="1" collapsible="false">


            </apex:pageBlockSection>
            <br/>
            <table>
                <tr>
                    <td>
                        <input style="float:left" id="territorySearch" class="typeahead" type="text" placeholder="Search Territories..." />
                    </td>
                    <td>
                        <!--<apex:commandButton reRender="pbtable" style="margin-top:10%;margin-left:20%;" value="Search" onclick="SearchTerrUsers()"/>-->
                        <input class="btn" type="button" style="margin-top:6%;margin-left:20%;height:30px;" onclick="SearchTerrUsers();" value="Search Users"></input>
                    </td>
                </tr>
            </table>
            <br/>
            <apex:outputPanel id="pbtable">
            <script>
                allTerrUsers='{!JSONTerrUserList}';
            </script>
            <apex:outputPanel rendered="{!showTerritoryUsers}">
            <apex:pageBlockSection title="Manage Territory Assignments">
            
            <table>
                <tr>
                    <td>
                        <input style="float:left" id="terrUserSearch" class="typeahead" type="text" placeholder="Search Users..." />
                    </td>
                    <td>
                        
                        <input class="btn" type="button" style="margin-top:6%;margin-left:20%;height:30px;" onclick="AddUser2Territory();" value="Add User"></input>
                    </td>
                </tr>
            </table>
            </apex:pageBlockSection>
            </apex:outputPanel>
            
            <br/>
            
            <apex:pageBlockTable value="{!terrUserList}" rendered="{!terrUserList.size>0}" var="u">
                <apex:column headerValue="Action">
                    <apex:commandLink status="processing" value="Delete" action="{!deleteTerrUser}" reRender="pbtable" oncomplete="registerTypeAhead();">
                        <apex:param name="userName" value="{!u.id}" assignTo="{!selectedTerrUserId}"/>
                    </apex:commandLink>&nbsp;|&nbsp;
                    <apex:commandLink status="processing" value="Select" action="{!selectTerrUser}" reRender="panel">
                        <apex:param name="userName" value="{!u.id}" assignTo="{!selectedTerrUserId}"/>
                    </apex:commandLink>
                </apex:column>
                <apex:column headerValue="User Name" value="{!u.name}"/>
            </apex:pageBlockTable>
            </apex:outputPanel>
                
        </apex:pageBlock>
        <apex:actionFunction status="processing" name="searchUser" action="{!searchUser}" reRender="msgs">
            <apex:param name="selectedId" assignTo="{!selectedId}" value=""/>
        </apex:actionFunction>
        
        <apex:actionFunction status="processing" name="searchTerrUser" action="{!searchTerritoryUsers}" reRender="pbtable" oncomplete="registerTypeAhead();">
            <apex:param name="selectedterrId" assignTo="{!selectedTerrId}" value=""/>
        </apex:actionFunction>
        
        <apex:actionFunction status="processing" name="AddUsertoTerritory" action="{!addUsertoTerritory}" reRender="pbtable" oncomplete="registerTypeAhead();">
            <apex:param name="selectedterriUserId" assignTo="{!selectedTerriUserId}" value=""/>
        </apex:actionFunction>
        
        <apex:actionStatus id="processing" onstart="toogleSearchRequestStatus()" onstop="toogleSearchRequestStatus()"/>
    </apex:form>

    
    <script>
        var selectedTerrUserId;
        
        function Search(){
            console.log('from search'+selectedUserId);
            searchUser(selectedUserId);
        }
        
        function SearchTerrUsers(){
            console.log('from terr search'+selectedTerritoryId);
            searchTerrUser(selectedTerritoryId);
        }
        
        function toogleSearchRequestStatus(){
            $j(window).spin();
        }
        
        
        
        function AddUser2Territory(){
            AddUsertoTerritory(selectedTerrUserId);
        
        }
        
        function registerTypeAhead(){
            
            var selectedUserId;
            var selectedTerritoryId;
            
            var allUsers='{!JSONUserlist}';//string
            //console.log("promotion list is "+allUsers);

            allUsers=$j.parseJSON(allUsers);//json
            
            var allTerritories='{!JSONTerritoryList}';
            console.log("Territory list is "+allTerritories);
            allTerritories=$j.parseJSON(allTerritories);
            
           
           $j('#userSearch').typeahead({
              minLength: 0,
              highlight: true
            }, {
              name: 'allUsers',
              
              source: UserListDefaults,
              templates: {

                suggestion: function(data) {
                    return '<p><strong>' + data.userName+ '</strong> – <small>' + data.Role+ '</small></p>';
                }
              },
              
              display:function(users){
                  //console.log('user id on select is '+users.userId);
                  return users.userName; 
              }
            });

            var allUsersList= new Bloodhound({
                local:allUsers,
                datumTokenizer:function customTokenizer(datum) {
                    //console.log(datum);
                    var nameTokens=Bloodhound.tokenizers.whitespace(datum.userName);
                    //console.log(nameTokens);
                    return nameTokens;
                },
                queryTokenizer: Bloodhound.tokenizers.whitespace

            });
            
            
            function UserListDefaults(q, sync) {

                if (q === '') {

                    sync(allUsersList.get(allUsers));
                }
                else {
                    allUsersList.search(q, sync);
                }
            }
            //-----------------------------------------------------------------------------------------------------------------------//
            
            console.log('allterrusers-----------------------------------------'+allTerrUsers);
            allTerrUsers=$j.parseJSON(allTerrUsers);//json
            
            
            $j('#terrUserSearch').typeahead({
              minLength: 0,
              highlight: true
            }, {
              name: 'allTerrUsers',
              
              source: UserListDefaults,
              templates: {

                suggestion: function(data) {
                    return '<p><strong>' + data.userName+ '</strong> – <small>' + data.Role+ '</small></p>';
                }
              },
              
              display:function(users){
                  //console.log('user id on select is '+users.userId);
                  return users.userName; 
              }
            });

            var allTerrUsersList= new Bloodhound({
                local:allTerrUsers,
                datumTokenizer:function customTokenizer(datum) {
                    //console.log(datum);
                    var nameTokens=Bloodhound.tokenizers.whitespace(datum.userName);
                    //console.log(nameTokens);
                    return nameTokens;
                },
                queryTokenizer: Bloodhound.tokenizers.whitespace

            });
            
            
            function UserListDefaults(q, sync) {

                if (q === '') {

                    sync(allTerrUsersList.get(allUsers));
                }
                else {
                    allTerrUsersList.search(q, sync);
                }
            }
            $j('#terrUserSearch').bind('typeahead:select', function(ev, suggestion) {
              selectedTerrUserId=suggestion.userId;
              console.log('Selection: ' +selectedTerrUserId);
            });
            
            //-----------------------------------------------------------------------------------------------------------------//
            
            $j('#territorySearch').typeahead({
              minLength: 0,
              highlight: true
            }, {
              name: 'allTerritories',
              
              source: TerritoryListDefaults,
              templates: {

                suggestion: function(data) {
                    return '<p><strong>' + data.territoryName+ '</strong>';
                }
              },
              
              display:function(territories){
                  //console.log('Territory id on select is '+territories.terrId);
                  return territories.territoryName; 
              }
            });
            
            
            var allTerritoriesList= new Bloodhound({
                local:allTerritories,
                datumTokenizer:function customTokenizer(datum) {
                    //console.log(datum);
                    var nameTokens=Bloodhound.tokenizers.whitespace(datum.territoryName);
                    var townTokens=Bloodhound.tokenizers.whitespace(':');
                    console.log('name tokens are '+nameTokens);
                    console.log('towntokens are'+townTokens);
                    return nameTokens.concat(townTokens);
                },
                queryTokenizer: Bloodhound.tokenizers.whitespace

            });
            
            
            function TerritoryListDefaults(q, sync) {

                if (q === '') {

                    sync(allTerritoriesList.get(allTerritories));
                }
                else {
                    allTerritoriesList.search(q, sync);
                }
            }  
        }
        
        
        $j(function() {
            registerTypeAhead();
            $j('.typeahead').bind('typeahead:select', function(ev, suggestion) {
              selectedUserId=suggestion.userId;
              console.log('Selection: ' +selectedUserId);
            });
            $j('#territorySearch').bind('typeahead:select', function(ev, suggestion) {
              selectedTerritoryId=suggestion.terrId;
              console.log('Selection Terr: '+selectedTerritoryId);
            });
        });
    </script>
    
    
    
    
</apex:page>