<apex:page standardController="Account" recordSetVar="selectedAccounts" extensions="ChangeAccountDispositionController" action="{!Validate}">
    <apex:form >
        <apex:pageMessages />
        <apex:pageBlock title="Change Account Dispositions" mode="edit">
            <apex:pageBlockButtons >
                <apex:commandButton action="{!save}" value="Save"/>
                <apex:commandButton action="{!goBack}" value="Back to Account List"/>
            </apex:pageBlockButtons>
       
			<apex:pageBlockSection title="Bulk Disposition" columns="1">
				<strong>Click Save to disposition all accounts listed below to 'Mailed Letter'</strong>
				<!-- <apex:selectList id="distanceField" value="{!bulkDispoVal}" multiselect="false" size="1" style="width:150px;">
	            	<apex:selectOptions value="{!BulkDispoOptions}"/>
				</apex:selectList>     -->   
			</apex:pageBlockSection>
       
            <apex:pageBlockSection title="Selected Accounts" columns="1">
                <apex:pageBlockTable value="{!selectedAccountDetails}" var="item">
                    <apex:column value="{!item.name}"/> 
                    <apex:column value="{!item.DispositionCode__c}" />
                    <apex:column value="{!item.Business_Id__c}" />
                </apex:pageBlockTable> 
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>