<apex:page standardController="Account">
    <apex:includeLightning /> 
    <div id="myDivId"/>
    <script>
        $Lightning.use("c:CustomerLoansRelatedListApp", function() {
            // Write a function that creates the component on the page
          $Lightning.createComponent("c:CustomerLoansRelatedList",
          {
              "recordId" : "{!$CurrentPage.parameters.id}"
           },
          "myDivId",
          function(component) {
            console.log(component);
          });
        });
     </script>

</apex:page>