<apex:page controller="GenProspectListCtrl">

    <!-- CSS -->
    <link rel="stylesheet" href="{!URLFOR($Resource.bootstrap3, 'css/bootstrap.min.css')}" media="all" />
    <link rel="stylesheet" href="{!URLFOR($Resource.bootstrap3, 'css/bootstrap-theme.min.css')}" media="all" />
    
    <!-- JavaScript Libraries -->
	<apex:includeScript value="https://maps.googleapis.com/maps/api/js?sensor=true"/> 
    <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"/>
    <apex:includeScript value="{!URLFOR($Resource.bootstrap3, 'js/bootstrap.min.js')}"/>    
    <apex:includeScript value="{!URLFOR($Resource.jQuerySpin, 'jQuery.Spin.js')}"/>
	
    <style>    
	    .modal-backdrop { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1040; background-color: #000; opacity: .5; }
	    .force-bs .modal-header {background: url('/img/alohaSkin/overlay_crns.png') right top no-repeat; padding: 0px 6px 0px 0px}
	    .force-bs .modal-header .modal-header-content { padding: 8px 6px 8px 12px; background: url('/img/alohaSkin/overlayTopLft.png') left top no-repeat; }*/
	    /*without a parent tab style the default bar doesn't display properly*/
	    .pbBody .pbSubheader		{ background-color: #3276b1; border-color: #285e8e; }
	    .header-link 				{ float: right; padding-right: 5px; width: 30%; vertical-align: middle; text-align: right; }
	    .header-link-content 		{ float: right; font-size: 1.083em; font-weight: bold; color: #353535; }
	    .header-link-back			{ background: url(/img/chatter/messages_sprite.png) no-repeat scroll 0 -32px; width: 20px; height: 12px; float: right; margin: 2px 0px; }    
	    .selector-divider 			{ margin-right: 300px; }
	    
	    .custom-psection-header .pbSubheader 	{ text-align: left; background-color: #35b4e9; border-color: #bce8f1; margin-top: 0px; }
	    .custom-psection-header .labelCol		{ width: 50% !important; } 
	    .custom-psection-header .pbSubsection .detailList 		{ border: 1px dashed #dbdbdb; background-color: white; }
	    .custom-psection-header .pbSubsection table>tbody>tr>td	{ border-bottom: 1px solid #e3deb8; }
	    .custom-psection-header .pbSubsection table>tbody>tr>th	{ background-color: #f2f3f3; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; }
	    .custom-psection-header .force-bs .pbSubsection table>tbody>tr>th.first	{ height: 57px; }
	    .custom-psection-header .pbSubsection table>tbody>tr>td:hover			{ background-color: #e3f3ff; }	    
    </style>
    
    <!-- Page Title -->
    <div class="bPageTitle">
        <div class="ptBody secondaryPalette brandSecondaryBrd">
            <div class="content">
                <img src="/s.gif" class="pageTitleIcon" title="Home" alt="Home"/>
                <h1 class="pageType">Generate Prospect List</h1>
                <span class="titleSeparatingColon">:</span><h2 class="pageDescription">Prospecting</h2>
                <div class="blank"></div>
            </div>
            <div class="header-link force-bs">
              <span class="header-link-content">
                <a href="/apex/ProspectList" target="_self">Go Back</a>
              </span>
              <img src="/s.gif" class="header-link-back"/>
            </div>
            
        </div>
    </div>    
	
	<script></script>
	
	<!-- MAIN FORM -->
	<apex:form >		

		<div class="force-bs">	
			
			<!-- submit dialog -->
			<div class="modal" id="genDialog" tabindex="-1" role="dialog" aria-hidden="true" >
			  <div class="modal-dialog" style="width: 450px;margin: 130px auto;">
			    <div class="modal-content">
			      <div class="modal-header">        
			        <div class="modal-header-content" id="genDialogModalLabel">
			        	<span style="color: #000;font-size: 1.25em;font-weight: bold;">&nbsp;</span>
			        </div>
			      </div>
			      <div class="modal-body" style="background: #fff url('/img/alohaSkin/overlay_crns.png') left -240px repeat-x;text-align: center;">
			        <img src="/img/loading.gif" /> <span style="color: #000;font-size: 1.25em;font-weight: bold;">Creating your list...</span>
			      </div>
			      <div class="modal-footer" > &nbsp;</div>
			    </div>
			  </div>
			</div>
			
			<!-- action status dialog -->		
			<div class="modal" id="actionDialog" tabindex="-1" role="dialog" aria-hidden="true" >
			  <div class="modal-dialog" style="width: 450px;margin: 130px auto;">
			    <div class="modal-content">
			      <div class="modal-header">        
			        <div class="modal-header-content" id="actionDialogModalLabel">
			        	<span style="color: #000;font-size: 1.25em;font-weight: bold;">&nbsp;</span>
			        </div>
			      </div>
			      <div class="modal-body" style="background: #fff url('/img/alohaSkin/overlay_crns.png') left -240px repeat-x;text-align: center;">
			        <img src="/img/loading.gif" /> <span style="color: #000;font-size: 1.25em;font-weight: bold;" id="dlg-action-content"></span>
			      </div>
			      <div class="modal-footer" > &nbsp;</div>
			    </div>
			  </div>
			</div>

			<!-- message dialog -->		
			<div class="modal" id="msgDialog" tabindex="-1" role="dialog" aria-hidden="true" >
			  <div class="modal-dialog" style="width: 450px;margin: 130px auto;">
			    <div class="modal-content">
			      <div class="modal-header">        
			        <div class="modal-header-content" id="msgDialogModalLabel">
			        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        	<span style="color: #000;font-size: 1.25em;font-weight: bold;">Message</span>
			        </div>
			      </div>
			      <div class="modal-body" style="background: #fff url('/img/alohaSkin/overlay_crns.png') left -240px repeat-x;text-align: center;">
			        <span style="color: #000;font-size: 1.25em;font-weight: bold;" id="dlg-msg-content"></span>
			      </div>
			      <div class="modal-footer" > &nbsp;</div>
			    </div>
			  </div>
			</div>
			
		</div>
		
		<apex:actionStatus id="loadingStatus">
			<apex:facet name="start">CALLING</apex:facet>
			<apex:facet name="stop"></apex:facet>
		</apex:actionStatus>
		
		<!-- AGENT'S CALENDAR FOR UPCOMMING SCHEDULES -->
		<apex:pageBlock title="Prospect Selection Criteria" id="criteriaPageBlock">
		
		    <script>
		    	var useZipCode = {!AND(useZipCode, listType='Field')};
		    </script>
		    
		    <apex:pageMessages />
		    
			<apex:pageBlockSection columns="1">
				
				<!-- list type selection -->
				<apex:pageBlockSectionItem >
	               <apex:outputLabel value="Field or Phone prospect list request" for="search__criteria__plist" styleClass="search-label"/>
	               <apex:outputPanel id="search__criteria__plist">
		             <apex:selectList value="{!listType}" size="1">
		             	<apex:selectOption itemValue="X" itemLabel="-- SELECT LIST TYPE --"/>
		             	<apex:selectOption itemValue="Phone" itemLabel="Phone"/>
		             	<apex:selectOption itemValue="Field" itemLabel="Field"/>
		             	 <apex:actionSupport event="onchange" 
                                action="{!evalProspectList}" 
                                rerender="criteriaPageBlock"
								onsubmit="showActionStatus('Updating filters...')" 
								oncomplete="hideActionStatus()"/>
		             </apex:selectList>
	               </apex:outputPanel>
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem rendered="{!IF(listType='Field', true, false)}">
					<apex:outputLabel value="Include only prospects with phone number" for="search__criteria__includePhoneNo"/>					
					<apex:inputCheckbox id="includePhoneNo" value="{!includePhoneNo}" />
				</apex:pageBlockSectionItem>
				
				<!-- target date -->
				<apex:pageBlockSectionItem rendered="{!AND(renderTargetDateFilter, NOT(useZipCode))}">
					<apex:outputLabel value="Choose your target date schedule" for="search__criteria__targetDate"/>
					<apex:outputPanel >
						 <apex:inputField value="{!leadFilter.EstimatedMailReceiveDate__c}"/>
			             <apex:selectList value="{!meridianSchedule}" size="1">
			             	<apex:selectOption itemValue="AM" itemLabel="AM"/>
			             	<apex:selectOption itemValue="PM" itemLabel="PM"/>
			             </apex:selectList>
		            </apex:outputPanel>
				</apex:pageBlockSectionItem>
				
				<!-- use zipCode -->
				<apex:pageBlockSectionItem rendered="{!AND(useZipCode, listType='Field')}">
					<apex:outputLabel value="Target zip code" for="search__criteria__targetZipCode"/>
					<apex:inputText value="{!ZipCodeStr}" id="search__criteria__targetZipCode" styleClass="numValZip"/>
				</apex:pageBlockSectionItem>
				
				<!-- number of prospects -->
				<apex:PageBlockSectionItem rendered="{!renderMaxResultSize}">
					<apex:outputLabel value="Number of prospects requested" />
					<apex:outputPanel >
						<apex:inputText value="{!maxProspectSizeStr}" maxlength="2" styleClass="numVal" style="width:30px;"/> (50 max)
					</apex:outputPanel>					
				</apex:PageBlockSectionItem>
								
			</apex:pageBlockSection>
			
			<apex:PageBlockButtons >
				<input type="button" class="btn genListBtn" value="Generate List" onclick="generateProspectList()" />				
			</apex:PageBlockButtons>
			
		</apex:pageBlock>
		
		
		<apex:actionFunction name="GenerateProspectsJS" action="{!GenerateProspects}" rerender="criteriaPageBlock" onComplete="$('#genDialog').modal('hide')">
			<apex:param name="rLat" value="" />
			<apex:param name="rLon" value="" />
		</apex:actionFunction>
		
	</apex:form> <!-- //MAIN FORM -->
	
	<script>
		var url = "ui/core/activity/EventHoverPage?retURL=/home/home.jsp&id=00UV0000001FdFpMAK";
		var actionDlg = {};		
		
		function generateProspectList(){
			//show loading status dialog
			$('#genDialog').modal({show: true, backdrop: 'static'})
			if(useZipCode===true){
				geoCodeCustomLocation();
			}
			else{
				GenerateProspectsJS();
			}
						
		} 
		
		function geoCodeCustomLocation(){
			//geo code and send the addt lat and lon
			if($(".numValZip").val()){
				geocoder = new google.maps.Geocoder();
				geocoder.geocode( { 'address': $(".numValZip").val()}, function(results, status) {
			      if (status == google.maps.GeocoderStatus.OK) {
			        var lat = results[0].geometry.location.lat();
			        var lon = results[0].geometry.location.lng();	
					GenerateProspectsJS(lat, lon);
			      } else {
			        //alert("Geocode was not successful for the following reason: " + status);		        
				    $("#dlg-msg-content").html("Sorry, we were unable to geocode that address. Please enter a valid address.");
				    $('#genDialog').modal('hide');
					$('#msgDialog').modal('show');
			      }
			    });
			}
			else{
			    $("#dlg-msg-content").html("Invalid entry on zip code.");
			    $('#genDialog').modal('hide');
				$('#msgDialog').modal('show');
			}
		}
		
		function showActionStatus(dlgText){
		    $("#dlg-action-content").html(dlgText);
			$('#actionDialog').modal({show: true, backdrop: 'static'})
		}
		
		function hideActionStatus(){
			$('#actionDialog').modal('hide');
			$(".genListBtn").removeAttr( "disabled" );
			$(".genListBtn").addClass( "btn" );
			$(".genListBtn").removeClass( "btnDisabled" );
		}
		
		function registerNumericValueValidation(){
		    $( ".numVal" ).keyup(function() {
		        this.value = this.value.replace(/[^0-9\.]/g,'');
				if(this.value>50) this.value = 50;	
		    });
		}
		
		$(document).ready(function(){
			registerNumericValueValidation();			
			$(".genListBtn").attr( "disabled", "disabled" );
			$(".genListBtn").removeClass( "btn" );
			$(".genListBtn").addClass( "btnDisabled" );
		});
		
		
	</script>
	
</apex:page>