<apex:page controller="ManagerTown">
	<apex:includeScript value="{!$Resource.JQuery}"/>
    <apex:includeScript value="{!URLFOR($Resource.JQueryUI, 'JQueryUI/JQueryUI.js')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.JQueryUI, 'JQueryUI/JQueryUI.css')}"/>
    <script>
    	var j$ = jQuery.noConflict();
    	j$(document).ready(function() { j$('input[id$="managerssearch"]').attr("autocomplete", "off"); });
    	function filter(elem) {
    		var txt=j$(elem).val(); 
    		var text='label[for*="managerslist:"]'; 
			j$(text).each(function(index) {
				var val1 = j$.trim(j$(this).text());
				//alert(val1.toLowerCase());
			    if(val1.toLowerCase().indexOf(j$.trim(txt).toLowerCase()) >= 0)
			    	j$(this).parent().parent().show();
			    else
			    	j$(this).parent().parent().hide();
			});
    	}
    </script>    
	<apex:form >
		<apex:pageMessages />
        <apex:pageBlock title="{!pageTitle}" mode="edit">
            <apex:pageBlockButtons >		
				<apex:commandButton action="{!next}" value="Next" id="nextButton" rendered="{!isStep1}"/>
				<apex:commandButton action="{!save}" value="Save" id="saveButton" rendered="{!isStep2}"/>
				<apex:commandButton action="{!startover}" value="Start Over" id="startOverButton" rendered="{!isStep2}"/>
			</apex:pageBlockButtons>
			<apex:outputPanel rendered="{!isStep1}">
		        <apex:pageBlockSection title="Select a Manager" columns="1">
		        	<apex:pageBlockSectionItem >
				        <apex:outputLabel value="Filter Managers List" for="managerssearch"/>
						<apex:inputText value="{!managerSearch}" id="managerssearch" onkeyup="filter(this);"/>
			    	</apex:pageBlockSectionItem>			        
		        	<apex:pageBlockSectionItem >
				        <apex:outputLabel value="Select a Manager" for="managerslist"/>
						<apex:selectRadio id="managerslist" value="{!selectedManagerId}" layout="pageDirection">
				        	<apex:selectOptions value="{!managerSelectOptions}"/>
				        </apex:selectRadio>
			    	</apex:pageBlockSectionItem>		    	
			    </apex:pageBlockSection>
			</apex:outputPanel>
			<apex:outputPanel rendered="{!isStep2}" >
				<apex:pageBlockTable value="{!mts}" var="mt">
					<apex:column >
	              		<apex:commandLink action="{!deleteTown}" value="Del" id="deleteTownLink">
	              			<apex:param name="deletedid" value="{!mt.TownId & ';' & mt.BusinessId}" assignTo="{!removedMT}"/>
	              		</apex:commandLink>
	         		</apex:column>				
					<apex:column >
						<apex:facet name="header">Town Id</apex:facet>
						<strong>{!mt.TownId}</strong>
					</apex:column>
					<apex:column >
						<apex:facet name="header">Business Id</apex:facet>
						<strong>{!mt.BusinessId}</strong>
					</apex:column>				
					<apex:column >
						<apex:facet name="header">Resi Direct Sales</apex:facet>
						<apex:inputCheckbox value="{!mt.isResiDirect}" disabled="{!NOT(mt.enableResiDirect)}"/>
					</apex:column>		
					<apex:column >
						<apex:facet name="header">Resi Resale</apex:facet>
						<apex:inputCheckbox value="{!mt.isResiResale}" disabled="{!NOT(mt.enableResiResale)}"/>
					</apex:column>
					<apex:column >
						<apex:facet name="header">SB Direct Sales</apex:facet>
						<apex:inputCheckbox value="{!mt.isSBDirect}" disabled="{!NOT(mt.enableSBDirect)}"/>
					</apex:column>
					<apex:column >
						<apex:facet name="header">SB Resale</apex:facet>
						<apex:inputCheckbox value="{!mt.isSBResale}" disabled="{!NOT(mt.enableSBResale)}"/>
					</apex:column>
					<apex:column >
						<apex:facet name="header">Custom Home Sales</apex:facet>
						<apex:inputCheckbox value="{!mt.isCustomHomeSales}" disabled="{!NOT(mt.enableCustomHomeSales)}"/>
					</apex:column>
					<apex:column >
						<apex:facet name="header">Home Health</apex:facet>
						<apex:inputCheckbox value="{!mt.isHomeHealth}" disabled="{!NOT(mt.enableHomeHealth)}"/>
					</apex:column>					
					<apex:column >
						<apex:facet name="header">Business DirectSales</apex:facet>
						<apex:inputCheckbox value="{!mt.isCBDirect}" disabled="{!NOT(mt.enableCBDirect)}"/>
					</apex:column>
					<apex:column >
						<apex:facet name="header">National Account Sales</apex:facet>
						<apex:inputCheckbox value="{!mt.isCBNational}" disabled="{!NOT(mt.enableCBNational)}"/>
					</apex:column>								
				</apex:pageBlockTable>
			</apex:outputPanel>
		</apex:pageBlock>
 		<apex:pageBlock title="Add Towns to the Manager" mode="edit"  rendered="{!isStep2 && isManagerActive}">
            <apex:pageBlockButtons location="top">		
				<apex:outputLabel for="plselectArea" value="Area:" rendered="{!isStep2 && isManagerActive}"></apex:outputLabel>
				<apex:selectList value="{!selectedArea}"  size="1" rendered="{!isStep2 && isManagerActive}" id="plselectArea">
		            <apex:selectOptions value="{!AreaItems}"/>
		        </apex:selectList>
				<apex:commandButton action="{!retrieveTowns}" value="Find Towns" id="addTownsButton" rendered="{!isStep2 && isManagerActive}" />
				<apex:commandButton action="{!addSelectedTowns}" value="Add Selected Towns" id="addSelectedTownsButton" rendered="{!refreshedForAddingTowns}" />
			</apex:pageBlockButtons> 
			<apex:outputPanel rendered="{!refreshedForAddingTowns}">
				<apex:outputLabel for="allavailabletownsCBs" value="Available Towns"></apex:outputLabel>
				<strong>
				<apex:selectCheckboxes value="{!selectedTownsToAddToManager}" id="allavailabletownsCBs" layout="pageDirection">
					<apex:selectOptions value="{!availableTowns}"></apex:selectOptions>
				</apex:selectCheckboxes>
				</strong>
			</apex:outputPanel>			
 		</apex:pageBlock>
	</apex:form>
</apex:page>