<apex:page sidebar="false" controller="MyRoleHierarchyController">

   <!-- CSS -->
    <link rel="stylesheet" href="{!URLFOR($Resource.bootstrap3, 'css/bootstrap.min.css')}" media="all" />
    <link rel="stylesheet" href="{!URLFOR($Resource.bootstrap3, 'css/bootstrap-theme.min.css')}" media="all" />
    <link rel="stylesheet" href="{!URLFOR($Resource.AngularJSTreeView, 'css/angular.treeview.css')}" media="all" />

    <!-- JavaScript Libraries -->
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"/>
    <apex:includeScript value="{!URLFOR($Resource.AngularJSTreeView, 'angular.treeview.js')}"/>    
    
    <style>
		.noRoleLabelBadge {
			
		}
		.hasRoleLabelBadge {
			margin-left: 10px;
			font-size: 100% !important;
			font-family: Tahoma;
			font-weight: 600 !important;
		} 
    </style>
    
    <!-- Main Section referencing AngularJS App & Bootstrap -->
    <div ng-app="RoleUtilApp" class="force-bs">
    
        <div ng-controller="RoleUtilController">
            
        <div class="panel panel-primary">
          <div class="panel-heading">Currently showing hierarchy and configuration for  {!userName}</div>
          <div class="panel-body">
                
                <div style="margin:10px 0 30px 0; padding:10px; background-color:#EEEEEE; border-radius:5px; font:12px Tahoma;">
                  <span><b>Selected Node</b> : {{treeid1.currentNode.nodeLabel}}</span>
                </div>
                <!-- AngularJS Tree -->
                <div
                    data-angular-treeview="true"
                    data-tree-model="ADTRoleHierarchy"
                    data-tree-id="treeid1"
                    data-node-id="nodeId"
                    data-node-label="nodeLabel"
                    data-node-role="nodeRole"
                    data-node-children="children" >
                </div>
            
          </div>
        </div>
        
        </div><!-- //RoleUtilController -->    
    
    </div>
    
     <!-- View Controller Application Code -->
     <script>

        function OpenInNewTab(url) {
          var win = window.open(url, '_blank');
          win.focus();
        }
               
       (function(){
       
            //--------------------------------------------------------------
            // AngularJS Application using angularTreeview module
            //--------------------------------------------------------------
            var AngularJSVisualForceApp = angular.module('RoleUtilApp', ['angularTreeview']);
            
            //--------------------------------------------------------------
            // AngularJS Application Controller
            //--------------------------------------------------------------
            var RoleUtilSample=AngularJSVisualForceApp.controller('RoleUtilController', function ($scope) {
                
                $scope.userName = '';
                
                // Init JSON Data
                $scope.JSONHierarchy =  {!JSONString};
                
                var JSONHierarchyChanged = function(){
                     $scope.ADTRoleHierarchy = $scope.JSONHierarchy; 
                };
                
                var WatchTreeNodeSelected = function() {
                    if( $scope.treeid1 && angular.isObject($scope.treeid1.currentNode) ) {
                        //console.log( 'Node Selected!!' );
                        //console.log( $scope.treeid1.currentNode );
                        OpenInNewTab('/'+$scope.treeid1.currentNode.nodeId+'?noredirect=1');
                    }
                }
                
                $scope.$watch('JSONHierarchy', JSONHierarchyChanged);
                $scope.$watch( 'treeid1.currentNode', WatchTreeNodeSelected);
                        
            });
        
        })();
        
     </script>
    
        

</apex:page>