<apex:page controller="NSCPromotionFlyerController">

    <!-- Service Console Toolkit -->
    <apex:includeScript value="/soap/ajax/30.0/connection.js"/>
    <apex:includeScript value="/support/console/30.0/integration.js"/>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{!URLFOR($Resource.bootstrap3, 'css/bootstrap.min.css')}" media="all" />
    <apex:stylesheet value="{!URLFOR($Resource.FuelUX3, 'css/fuelux.css')}" />

    <!-- JavaScript Libraries -->
    <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" />
    <apex:includeScript value="{!URLFOR($Resource.bootstrap3, 'js/bootstrap.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.FuelUX3, 'js/fuelux.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.FuelUX3, 'js/underscore-min.js')}" />
    
    <style>
    h2 { 
        display: block;
        font-size: 1.5em;
        margin-top: 0.83em;
        margin-bottom: 0.83em;
        margin-left: 0;
        margin-right: 0;
    }
    
    h1 {
        display: block;
        font-size: 1.5em;
        margin-top: 0.83em;
        margin-bottom: 0.83em;
        margin-left: 0;
        margin-right: 0;
    }

    </style>
    
    <br/><br/>
    <div class="page-header">
        <h1>
            Promotion Description:
        </h1>
    </div>
    <apex:outputText rendered="{!if(promoDesc==null,false,true)}"><h2>{!promoDesc}</h2></apex:outputText>
    <apex:outputText rendered="{!if(promoDesc==null,true,false)}"> No Description Available</apex:outputText>
    <br/><br/>
    <apex:image id="FlyerImage" rendered="{!if(message==null,false,true)}" value="{!FlyerId}"/>
</apex:page>