<apex:page controller="NSCTimecolorpickerController" standardStylesheets="false" >

    <!-- Service Console Toolkit -->
    <apex:includeScript value="/soap/ajax/30.0/connection.js"/>
    <apex:includeScript value="/support/console/30.0/integration.js"/>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{!URLFOR($Resource.bootstrap3, 'css/bootstrap.min.css')}" media="all" />
    <link rel="stylesheet" href="{!URLFOR($Resource.xeditable, 'bootstrap3-editable/css/bootstrap-editable.css')}" media="all" />
    <link rel="stylesheet" href="{!URLFOR($Resource.bootstrapcolorpicker, 'css/bootstrap-colorpicker.min.css')}" media="all" />
    
    <!-- JavaScript Libraries -->
    
    <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"/>
    <apex:includeScript value="{!URLFOR($Resource.bootstrap3, 'js/bootstrap.min.js')}"/>       
    <apex:includeScript value="{!URLFOR($Resource.xeditable, 'bootstrap3-editable/js/bootstrap-editable.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.bootstrapcolorpicker, 'js/bootstrap-colorpicker.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.NSCAppResources, 'js/jquery.mask.js')}"/>
    
    <style>
    .demo2{
        width:300px;
    }
    .demo3{
        width:300px;
    }
    .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 160px;
      padding: 5px 0;
      margin: 2px 0 0;
      font-size: 14px;
      text-align: left;
      list-style: none;
      background-color: #fff;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border: 1px solid #ccc;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 4px;
      -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
      box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }        
    
    .headerRow{
        width:33%;
    
    }
    </style> 

    <script>
        $.fn.editable.defaults.mode = 'inline';
        var temp;
        var success;
        var newcolorid;
        
        var NSCTimeColorPicker={
            init:function(){
                $('.edit').editable({
                    type: 'text',
                    pk: 1,
                    title: 'Enter username',
                    success: function(response, newValue) {
                        console.log('new value is '+newValue);
                        console.log('temp value is '+temp)
                        getnewvalue(newValue,temp);
                    }
                });
            },
            bind:function(){
                NSCTimeColorPicker.init();
                console.log('** setting color..');
            },
            reinit:function(){
                $(".demo2").colorpicker().on('changeColor.colorpicker', function(event){
                    updatedcolorvalue=event.color.toHex();
                    updatedid=$(this).attr('id');
                    console.log('yo'+updatedid);
                    console.log('colorvalue is...'+updatedcolorvalue);
                    newjscolor(updatedcolorvalue,updatedid);
                });
            },
            begin:function(){
                $(".demo3").colorpicker().on('changeColor.colorpicker', function(event){
                    newcolorvalue=event.color.toHex();
                    console.log('colorvalue is...'+newcolorvalue);
                    colorentrybegin(newcolorvalue);
                });
            }
        };
        
        $(document).ready(function() {
            $('.time').mask('0000000000');
            NSCTimeColorPicker.init();
            NSCTimeColorPicker.reinit();
            NSCTimeColorPicker.begin();
            
        });
          
        function clickedFunc(clickedVal){
            temp=clickedVal;
            console.log('Clicked val is '+temp);
        }
        
        
    </script>

    
    <apex:form >
        <apex:actionFunction name="getnewvalue" action="{!savenew}" rerender="Existingvalues" oncomplete="NSCTimeColorPicker.reinit();NSCTimeColorPicker.init()">
            <apex:param name="getnewvalue" assignTo="{!newValue}" value=""/>
            <apex:param name="getclickedvalue" assignTo="{!clickedValue}" value=""/>
        </apex:actionFunction>
        
        <apex:actionFunction name="newjscolor" action="{!updatecolor}" rerender="commandStatus" oncomplete="NSCTimeColorPicker.bind()">
            <apex:param name="getnewcolor" assignTo="{!newcolorvalue}" value=""/>
            <apex:param name="getnewcolorid" assignTo="{!newcolorvalueid}" value=""/>
        </apex:actionFunction>
        
        <apex:actionFunction name="colorentrybegin" rerender="commandStatus" >
            <apex:param name="getnewcolorbegin" assignTo="{!colorvalue}" value=""/>
        </apex:actionFunction>
        
        <apex:outputPanel id="dummy" ></apex:outputPanel>
        
        <apex:pageBlock title="Time And Color Picker">
            <apex:pageBlockSection columns="1" id="Timecolorentrypanel">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Time (in min)" for=""/>
                    <apex:inputText styleClass="time" value="{!mytimevalue}"  />                    
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Color" for=""/>
                    <!-- bootstrap color -->
                    <div class="force-bs">
                        <div class="input-group demo3">
                            <input type="text" class="form-control demo colorpicker-element" data-horizontal="true"/>
                            <span class="input-group-addon"><i></i></span>
                        </div>
                    </div>
                    <!-- bootstrap color -->
                </apex:pageBlockSectionItem>
                
                
                
            </apex:pageBlockSection> 

           <apex:pageMessages id="pagemessage"/>
           
           <apex:pageBlockButtons location="bottom">
                <apex:actionStatus id="commandStatus">
                    <apex:facet name="start">
                        <apex:commandButton value="loading..." disabled="true"/>
                    </apex:facet>
                    <apex:facet name="stop">
                        <apex:commandButton value="Save" action="{!save}" status="commandStatus" reRender="Existingvalues,pagemessage" oncomplete="NSCTimeColorPicker.bind(),NSCTimeColorPicker.reinit(); "/>
                    </apex:facet>
                </apex:actionStatus>
            </apex:pageBlockButtons>  
        </apex:pageBlock> 
        
        <apex:pageBlock title="Existing colors">            
            <apex:outputPanel id="Existingvalues" styleClass="force-bs">
                <apex:pageBlockTable style="width:100%" value="{!timeList}" var="i">
                    <apex:column styleClass="colum" headerValue="Time value">
                        <div class="container" style="float:left;">
                            <span onclick="clickedFunc('{!i.tcp.id}');" class="edit" id="{!i.tcp.id}">{!i.tcp.Name}</span>
                        </div>
                    </apex:column>                
                    <apex:column styleClass="colum" headerValue="Color value">
                        
                        <!-- bootstrap color -->
                        <div class="input-group demo2 force-bs" id="{!i.tcp.id}">
                            <input type="text" value="{!i.tcp.Color__c}" class="form-control demo colorpicker-element" data-horizontal="true"/>
                            <span class="input-group-addon"><i></i></span>
                        </div>
                        <!-- bootstrap color -->
                        
                    </apex:column>
                    <apex:column styleClass="colum" headerValue="Delete value">
                        <apex:commandLink value="Delete" action="{!del}" reRender="Existingvalues" oncomplete="NSCTimeColorPicker.bind(),NSCTimeColorPicker.reinit();">
                            <apex:param name="delid" value="{!i.tcp.id}" />
                        </apex:commandLink>
                    </apex:column>
                </apex:pageBlockTable> 
            </apex:outputPanel>
        </apex:pageBlock>      
   
    </apex:form> 
</apex:page>