<apex:component controller="ButtonBarCtrl">
    
    <style>
        .loading-status-panel {
            margin:auto;
            width: 300px;
            height: 28px;
            border: 1px solid #8a9ebe;
            padding: 5px;                   
        }
        .button-bar {
            margin-left:auto;
            margin-right:auto;
            width:70%;
        }
    </style>
    
    <!-- Attr for the component -->
    <apex:attribute name="objId" description="Record ID where the component will display" type="String" required="true" assignTo="{!recId}"/>
    <apex:attribute name="MMBSearchLookupBtn" description="Launch MMB Lookup Search" type="Boolean" assignTo="{!showMMBSearchLookupBtn}"/>
    
    
    <!-- Support actions -->
    <apex:form >
        
        <!-- loading status -->
        <apex:outputPanel Id="MainBtnPanel" >
        <apex:actionStatus id="actionPanelRendering" startStyleClass="loading-bar">
            <apex:facet name="start">
                <div class="loading-status-panel force-bs">
                    <div class="progress progress-striped active" style="margin-top: 4px;">
                      <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span>loading content...</span>
                      </div>
                    </div>
                </div>
            </apex:facet>
            <apex:facet name="stop">&nbsp;</apex:facet>
        </apex:actionStatus>
                
        <!-- Main panel to group all conditional rendering for actions to show -->  
        <table width="100%" cellpading="0" cellspacing="0" style="margin-top: -16px;" class="btn-panel">
            <tr>
                <td align="center">
                
                    <!-- MMB Lookup Search Btn -->
                    <apex:outputPanel rendered="{!renderMMBSearchBtn}">
                        <button type="button" class="btn" onclick="displayMMBSearchLookupPage('{!recId}')">MMB Lookup</button>
                    </apex:outputPanel>
                    
                    <!-- Create Quote Btn -->
                    <apex:outputPanel rendered="{!renderNewQuoteBtn}">
                        <button type="button" class="btn" onclick="displayNewQuotePage('{!recId}')" >Quoting</button>
                    </apex:outputPanel>
                    
                </td>
            </tr>
        </table>
            
        </apex:outputPanel>
        
        <apex:actionFunction name="HandleVisibleActions"
                             action="{!HandleVisibleActions}"
                             reRender="MainBtnPanel"/>
    </apex:form>
    
    <!-- This component requires to be used on JQueryfied pages -->
    <script>
        
        var $j = jQuery.noConflict();
        var MMBCustomerSiteLookupPage = '/apex/MMBCustomerSiteLookup'; 
        var NewQuotePage = '/apex/CPQCreateRedirect';
        
        function displayMMBSearchLookupPage(id){
            redirectParent(MMBCustomerSiteLookupPage+'?objId='+id);
        }
        
        function displayNewQuotePage(id){
            redirectParent(NewQuotePage+'?Id='+id);
        } 
        
        /**
         *  Used for redirecting parent
         */
        function redirectParent(url){
            //$j(".btn-panel").hide();
            //$j(".loading-bar").show();            
            window.top.location.href = url; 
        }
        
        /**
         *  Execute after DOM initialization
         */
        $j(function(){
            HandleVisibleActions();
        })
    </script>
    
    
</apex:component>