<apex:component >
    <apex:attribute name="text" description="Text for status."  type="String" required="true"/>
<style>
    .statusPopup{
        background-color: white;
        border-style: solid;
        border-width: 2px;
        left: 50%;
        padding:10px;
        position: absolute;
        z-index: 9999;
        width: 500px;
        margin-left: -250px;
        top:100px;
    }
    .statusBackground{
        background-color:black;
        opacity: 0.20;
        position:absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9998;
    }
</style>
    <div class="statusBackground"></div>
    <div class="statusPopup">
        <div class="waitingHolder" style="text-align: center;">
            <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
            <span class="waitingDescription" style="position: relative; top: -3px;">{!text}</span>
        </div>
    </div>
</apex:component>