<apex:component controller="NSCTimerController" allowDML="true">
    
    <!-- CSS -->
    <apex:stylesheet value="{!URLFOR($Resource.flipclock, 'flipclock.css')}"/>
    
    <!-- JavaScript -->
    <apex:includeScript value="{!URLFOR($Resource.flipclock, 'flipclock.min.js')}"/>    
    
    <style>
        ul li, ol li {
            margin-left: 0px;
        }
        .flip-clock-wrapper {
            width: 600px;
            margin-left:20%;
           // background: linear-gradient(#64D86A, #1D7521);
        }
        .flip-clock-wrapper {
            font: normal 10px "Helvetica Neue", Helvetica, sans-serif;
            -webkit-user-select: none;
        }
        .flip-clock-divider .flip-clock-label {
            right: -65px;
            top: -1em;
        }
        .flip-clock-divider.minutes .flip-clock-label {
            right: -70px;
            
        }
        .flip-clock-divider.seconds .flip-clock-label {
            right: -70px;
            visibility: hidden; 
        }
        .flip-clock-divider.hours .flip-clock-label {
            right: -70px;
            visibility: hidden;
        }
        
        .seconds{
            display:none;
        }
        .flip-clock-divider{
            width:15px;
        }
        .flip-clock-dot{
            width:5px;
            height:5px;
        }
        .flip-clock-dot.top {
            top: 22px;
        }
        .flip-clock-dot.bottom {
            bottom: 22px;
        }
        .flip-clock-wrapper ul {
            //width: 30px;
            //height: 60px;
            //font-size: 50px;
            width:20px;
            height:30px;
            font-size:50px;
            margin: 3px;
        }
        .flip-clock-wrapper ul li a div div.inn {
            //font-size: 60px;
            font-size: 30px;
        }
        .flip-clock-divider {
            //height: 73px;
            height:40px;
        }
        .flip-clock-wrapper ul li {
            //line-height: 62px;
            line-height: 32px;
        }
        .timer {
            margin-top: 5px;
        }
        .flip-clock-wrapper ul li a div.up:after {
            top: 29px;
        }
        
        .flip-clock-wrapper ul.play li.flip-clock-active .down {
            z-index: 2;
            animation: turn .0s .0s linear both;
        }
        
        .flip-clock-wrapper ul.play li.flip-clock-active {
            animation: asd .0s .0s linear both;
            z-index: 2;
        }
        
        .flip-clock-wrapper ul.play li.flip-clock-before .up{
            z-index:2;
            animation: turn2 .0s linear both;    
        }
         
        @keyframes show {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 0;
            }
        }
         
        @keyframes hide {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 0;
            }
        }
        
        
        .left {
          float: left;
          //width: 200px;
          font-size: x-large;
          text-align: right;
          margin: 2px 10px;
          display: inline;
          font-weight: bolder;
          padding-top: 10px;
        }
        .right {
          float: none;
          text-align: left;
            padding: 5px;
          display: inline;
        }
        /*
        .flip-clock-divider.minutes .flip-clock-label {
          right: -155px;
          top: 15px;
          font-size: medium;
          color: rgb(51, 51, 51);
          font-weight: bolder;
        } */
        
        span.seconds~ul {
        visibility: hidden;
        } 

    </style>
    

        <apex:outputPanel styleClass="timer" >

            <div class="left">Call Time :</div>   <div class="call-timer right"></div>  
            
        </apex:outputPanel>
    
    
    <script>
        var CallDataPrefix = '{!CallDataPrefix}';
        var EnclosingTabSessionId;
        
        //---------------------------------------------------------------------------------
        // Get Call Data ObjectId from URL       
        //---------------------------------------------------------------------------------
        var getEnclosingPrimaryTabId = function getEnclosingPrimaryTabId() {
            //console.log('Page load');
            sforce.console.getFocusedPrimaryTabId(getTabLink);
        };        
        var getTabLink = function getTabLink(result) {
            sforce.console.getTabLink(sforce.console.TabLink.PARENT_AND_CHILDREN, result.id,showTabLink);
        };
        var showTabLink = function showTabLink(result) {
            var link = result.tabLink;
            if(link.slice(link.indexOf('cdId')+7,link.indexOf('cdId')+10)==CallDataPrefix){
                CallData(link.slice(link.indexOf('cdId')+7,link.indexOf('cdId')+25));
                console.log('Call data id saved'+link.slice(link.indexOf('cdId')+7,link.indexOf('cdId')+25));
            }
        };
        //---------------------------------------------------------------------------------
        
        var saveIntervalTime = function (time) {
           callTimeJS(time);
        }
                
        var callclose= function(result){
            var currentTime = clock.getTime();
            console.log('**** closing screen....');
            console.log('currentime is '+currentTime);
            clock.stop(function() {
                sforce.console.fireEvent('NSCServiceConsole.Timer.currentTime.'+EnclosingTabSessionId, currentTime);
            });
        }
        var callcloseGetTime = function(result){
            var currentTime = clock.getTime();
            console.log('### runnint time for capture'+EnclosingTabSessionId+'### current time is'+currentTime);
            sforce.console.getEnclosingPrimaryTabId( setEnclosingTabSessionId );
            getEnclosingPrimaryTabId();
            callTimeJS(currentTime);
            console.log('### call Id updated');
            //sforce.console.fireEvent('NSCServiceConsole.Timer.currentGetTime.'+EnclosingTabSessionId, currentTime);
        }
        
        var startTimer = function(){
            clock.start(function() {});
        };
        
        var initTimer = function(result){
            var time = clock.getTime();
            console.log(time);
            clock.setTime(+result.message);
            clock.start();
        }
        
    </script>
    
    <apex:form id="CallTimerFrm">
    
        <apex:actionFunction name="CallData" action="{!Savetime}" reRender="CallTimerFrm">
                <apex:param name="CalldataId" value="" assignTo="{!CalldataId}"/>
        </apex:actionFunction> 
        
        <apex:actionFunction name="callTimeJS" action="{!Savetime}" reRender="CallTimerFrm">
            <apex:param name="calltime" value="" assignTo="{!calltime}"/>
        </apex:actionFunction>

    </apex:form>
    
    <script>
        var setEnclosingTabSessionId = function( result ){
            EnclosingTabSessionId = result.id;
            subscribeEventHandlerActions( EnclosingTabSessionId );
        };
        var subscribeEventHandlerActions = function( TabSessionId ){
            console.log( 'registering left event ...(NSCServiceConsole.Timer.callCloseTime.'+TabSessionId+')' );
            sforce.console.addEventListener('NSCServiceConsole.Timer.callCloseTime.'+TabSessionId, callclose);
            sforce.console.addEventListener('NSCServiceConsole.Timer.Start.'+TabSessionId, startTimer);
            sforce.console.addEventListener('NSCServiceConsole.Timer.initTimer.'+TabSessionId, initTimer);
            //reason capture
            sforce.console.addEventListener('NSCServiceConsole.Timer.callCloseGetTime.'+TabSessionId, callcloseGetTime);
        };
        $ = jQuery.noConflict();
        function initComponent(){
        
            console.log('*** initializing left panel...');
            
            // Read this enclosing tab id scope
            sforce.console.getEnclosingPrimaryTabId( setEnclosingTabSessionId );

        // ******To get the values from controller for time and color******
        var theControllerValue = '{!temp}';
        theControllerValue = JSON.parse(theControllerValue);        

            // *******clock would be added to the global scope*******
            clock = $j('.call-timer').FlipClock({
                autoStart: true,
                clockFace: 'MinuteCounter',
                showseconds: false,
                callbacks: {
                    interval:function(time){
                        var time=this.factory.getTime().time;
                        
                        if(time%15==0){
                            time=time;
                            saveIntervalTime(time);
                        }
                        
                        // *******To display colors on screen based on time********
                        var i;
                        for(i=0; i<theControllerValue.length; i++)
                        {
                            //console.log(theControllerValue[i].Name + theControllerValue[i].Color__c);
                            if(time==theControllerValue[i].Name*60){
                                $(".navbar-inverse").css("background-color",theControllerValue[i].Color__c);
                            }
                        }
                    }
                } 
                
            });
            getEnclosingPrimaryTabId();
         }
        
        /**
         *  DOM Ready
         */
        $j(document).ready( initComponent() );
        

    </script>
    
</apex:component>