.THIS .exampleHolder {
    position: relative;
    display: inline-block;
}
.THIS .peak {
    color:red !important;
}
.THIS .lite {
    color:blue;
}
.THIS .normal {
    color:black;
}

.THIS .addFixedHeight{
    height: 160px
}