.THIS {
}
.THIS .combutton{
}

.THIS label{
    font-weight:bold;   
}

.THIS #email label{
    float:left;
    
}
.THIS #phNum label{
    float:left;
}
.THIS #compNameNotRequired label{
    float:left;
}
.THIS #compName label{
    float:left;
}
.THIS #fNameNotRequired label{
    float:left;
}
.THIS #lNameNotRequired label{
    float:left; 
}
.THIS #fName label{
    float:left;
}
.THIS #lName label{ 
    float:left;
}
.THIS #chId label{
    float:left;
}
.THIS #busId label{
    float:left;
}
.THIS #addridAutoComplete label{
    float:left;
}
.THIS #street2Id label{ 
    float:left;
}
.THIS .street2Class {
    position: absolute;
    margin-top: 132px;
    z-index:1000;
    width:93%;
}
.THIS [data-field="city"] {
   margin-top:70px;
}
.THIS [data-field="province"] {
   margin-top:68px !important;
}
.THIS div > textarea {
    resize:none; 
}
.THIS .spinnerClass{
    z-index:7001;
}
.THIS .overMargin{
    margin-right:10px;
}
.THIS .errDisplayText{
    margin-left:20px;
}.THIS {
}